*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: white;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}
#crsr{
    position: fixed;
    z-index: 999;
    height: 2.5vw;
    width: 2.5vw;
    border: 1px solid rgba(255, 255, 255, 0.66);
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #000000;
    padding: 20vh 10vw;
}

#loader .line{

    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#loader .line .line1-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#loader .line .line1-left h5, 
#loader .line .line1-left h6{
    font-size: 4vw;
    font-family: 'silk serif';
    font-weight: 100;
} 
#loader .line .line1-left h5{
    width: 5vw;
    text-align: right;
}
#loader .line h1{
    text-transform: uppercase;
    font-size: 6.7vw;
    font-weight: 500;

}

#loader .line{
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#loader .line4 h2{
    position: absolute;
    opacity: 0;
    right: 4vw;
    font-size: 6.4vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#main{
    position: relative;
    background-color: #151515;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}
#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2vw 8.4vw;
}

#page1 nav .logo{
    width: 75px;
    margin: 0;
    padding: 0;
    border: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 1vw;
    text-transform: capitalize;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2vw;
}

nav ul li{
    list-style: none;
}
#page1 .hero{
    width: 72%;
    margin-left: 28%;
    margin-top: 16.8vh;
    position: relative;
}
#page1 .hero::before{
    content: "01";
    font-size: 3.2vw;
    position: absolute;
    font-family: "silk serif";
    font-weight: 100;
    top:-3%;
    left: -12.5%;
}
#page1 .hero .hero-line {
    width: fit-content;
    overflow-y: hidden;
}
#page1 .hero .hero-line h1, #page1 .hero .hero-line span{
    font-size: 7.3vw;
    font-family: 'Plain';
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -1.5vw;
    padding: 0;
    word-spacing: -0.4vw;
}
 #page1 .hero .hero-line:nth-child(3) a{
    text-decoration: none;
 }
 #page1 .hero .hero-line:nth-child(3) h1{
    word-spacing: -1.2vw;
 }
#page1 .hero .hero-line span{
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.5vw;
    transition: all linear 200ms;
    -webkit-transition: all linear 200ms;
    -moz-transition: all linear 200ms;
    -ms-transition: all linear 200ms;
    -o-transition: all linear 200ms;
}

#page1 .hero .hero-line span:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-decoration: none;
   
   
}

#page2{
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    position: relative;
}
#videoContainer{
    width: 71.99%;
    height: 67vh;
    position: relative;
    left: 28%;

}

#videoContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videoContainer img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videoCursor{
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: -15%;
    right: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#videoCursor i{
    font-size: 2vw;

}


#page3{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-right: 5.5vw;
}

.page4Container{
    width: 70%;
    position: relative;
    margin-left: 30%;
}


.page4Container h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    
}
.page4Container h1::before{
    content: "03";
    font-size: 3.2vw;
    position: absolute;
    top:1.5%;
    left: -15%;
    font-family: "silk serif";
    font-weight: 100;
    
}

.page4Container .underline{
    width: 100%;
    height: 2px;
    background-color: #8A8A8A;
    margin-top: 5vw; 
}

.page4Container > p{
    font-size: 2.25vw;
    width: 50%;
    margin: 3.5vw 0;
}

.page4Flex{
    display: flex;
}

.page4Flex img{
    width: 47%;
}
.page4Flex p{
    width: 25%;
    font-size: 1vw;
}

.blueBox{
    width: 49%;
    background-color: #3F7DF4;
    position: relative;
    padding: 3.8vw;
    padding-bottom: 4.1vw;
    margin-top: -30vh;
    margin-left: 23vw;
}

.blueBox .blueBoxElem{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 2vw 0;
    border-bottom: 1px solid #fcfafa;
    color: #FEFEFF;
}

.blueBox .blueBoxElem h4{
    font-size: 1.5vw;
    font-weight: 500;
    width: 60%;
}

.blueBox .blueBoxElem p{
    font-size: 0.98vw;
    width: 40%;
    font-weight: 500;
}

.underline2{
    width: 100%;
    height: 2px;
    background-color:#fcfafa;
    margin-top: 8vw; 
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-right: 5.5vw;
}


#footer{
    width: 72%;
    min-height: 100vh;
    background-attachment: red;
    position: relative;
    margin-left: 28%;

}

#footer > h1{
    font-size: 7.4vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    
}

#footer> h5::before{
    content: "04";
    font-size: 3.2vw;
    position: absolute;
    top:1.5%;
    left: -15%;
    font-family: "silk serif";
    font-weight: 100;

}

#footer .footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 5vw;
}


#footer .footer-div .box{
    width: 30%;
    height: 100%;

}

#footer .footer-div .box h6{
    font-size: 1vw;
    margin-bottom: 2vw;
 
}
#footer .footer-div .box h5{
    font-size: 1.6vw;
    font-weight: 500;
}

#footer .underline{
    width: 100%;
    height: 1.5px;
    background-color: #8A8A8A;
    margin-top: 5vw;
}

#footer> h5{
    margin-top: 2.5vw;
    font-size: 1vw;
    font-weight: 500;
}


@keyframes nowEffect {
    0% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    48% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    100% {
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
}